<%= simple_form_for @patient, url: { action: 'results' }, html: { class: 'form-horizontal' } do |form| %>

<div class="row">
    <%= form.association :age_group, as: :radio_buttons, label: 'Age' %>
    <%= form.association :asa_grade, as: :radio_buttons, label: 'ASA Grade' %>
</div>

<div class="row">
    <%= render 'surgery' %>
    <%= form.association :reason,  as: :radio_buttons, label: 'Reason for ASA Grade' %>
</div>

<div class="row">
    <div class="form-group col-sm-6">
        <div class="col-sm-offset-3 col-sm-9">
            <%= form.button :submit, 'Search', class: 'btn-primary' %>
        </div>
    </div>
</div>

<% end %>
