<input type="hidden" id="previous_reasons"   value="<%= @previous_criteria[:reason_ids]   %>">
<input type="hidden" id="previous_specialty" value="<%= @previous_criteria[:specialty_id] %>">
<input type="hidden" id="previous_operation" value="<%= @previous_criteria[:operation_id] %>">

<%= simple_form_for @patient, url: { action: 'results' }, html: { class: 'form-horizontal' } do |form| %>

<div class="row">
    <%= form.association :age_group, as: :radio_buttons, label: 'Age', :label_method => lambda { |item| "#{item.name}".html_safe } %>
    <%= form.association :asa_grade, as: :radio_buttons, label: 'ASA Grade' %>
</div>

<div class="row">
    <%= render 'surgery' %>
    <%= form.association :reason, as: :check_boxes, label: 'Reason for<br/>ASA Grade'.html_safe %>
</div>

<div class="row">
    <div class="form-group col-sm-6">
        <div class="col-sm-offset-3 col-sm-9">
            <%= form.button :submit, 'Search', class: 'btn-primary' %>
        </div>
    </div>
</div>

<% end %>
