<input type="hidden" id="previous_reasons"   value="<%= @previous_criteria[:reason_ids]   %>">
<input type="hidden" id="previous_specialty" value="<%= @previous_criteria[:specialty_id] %>">
<input type="hidden" id="previous_operation" value="<%= @previous_criteria[:operation_id] %>">

<%= simple_form_for @patient, url: { action: 'results' }, html: { class: 'form-horizontal' } do |form| %>

<div class="row">
    <%= form.association :age_group, as: :radio_buttons_with_tooltips,
                         label: 'Age', :label_method => lambda { |item| "#{item.name}".html_safe } %>
    <%= form.association :asa_grade, as: :radio_buttons_with_tooltips,
                         label: 'ASA Grade' %>
    <%= form.association :reason, as: :check_boxes_with_tooltips, include_hidden: false,
                         label: 'Reason for ASA Grade' %>
</div>

<div class="row">
    <%= render 'surgery' %>
    <%= render 'submit', form: form %>
</div>

<% end %>
