<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% @additional_tests.each do |test| %>
        <tr class="success">
            <th><%= test.name %></th>
            <td><%= test.description %></td>
        </tr>
    <% end %>
    <% @recommended_tests.each do |test| %>
        <tr class="success">
            <th><%= test.name %></th>
            <td><%= test.description %></td>
        </tr>
    <% end %>
    <% @optional_tests.each do |test| %>
        <tr class="warning">
            <th><%= test.name %></th>
            <td><%= test.description %></td>
        </tr>
    <% end %>
    </tbody>
</table>
