<div class="container theme-showcase" role="main">

  <div class="page-header">
    <h1>Pre-operative tests</h1>
  </div>

  <%= render "options" %>
  <br>

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @recommend.each do |test| %>
        <tr class="success">
          <td><strong><%= test.name %></strong></td>
          <td><%= test.description %></td>
        </tr>
      <% end %>

      <% @consider.each do |test| %>
        <tr class="warning">
          <td><strong><%= test.name %></strong></td>
          <td><%= test.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div> <!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="../../assets/javascripts/bootstrap.min.js"></script>
